<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Configuration</key>
	<dict>
		<key>WhenReportedClean</key>
		<true/>
		<key>FileSize</key>
		<integer>2</integer>
		<key>ReportCycle</key>
		<string>7</string>
		<key>ReportAddress</key>
		<string>petergra.com</string>
	</dict>
	<key>Debug_Desc</key>
	<string>In this configuration the debug data collection information of the environment Don&apos;t open the data collection by default</string>
	<key>Debug</key>
	<dict>
		<key>Application_LifeCycle</key>
		<false/>
		<key>ViewController_LifeCycle</key>
		<false/>
		<key>View_LifeCycle</key>
		<false/>
		<key>View_Event</key>
		<false/>
	</dict>
	<key>Release_Desc</key>
	<string>In this configuration data collection information Release environment open data collection by default</string>
	<key>Release</key>
	<dict>
		<key>Application_LifeCycle</key>
		<true/>
		<key>ViewController_LifeCycle</key>
		<true/>
		<key>View_LifeCycle</key>
		<true/>
		<key>View_Event</key>
		<true/>
	</dict>
</dict>
</plist>
